.cp-btn-style1:before,
.cp-btn-style2:before,
.cp-nav-holder .navbar-nav li ul li:hover>a,
.cp-btn-style1:hover:after,
.cp-btn-style2:hover:after,
#cp-testimonial-slider .owl-dot.active span,
.cp-social-links li:hover a,
.cp_side-navigation .btn-holder a:hover,
#popup-close,
#cp-calendar .fc-event,
.cp-event-box3 .cp-text .cp-social-links li:hover a,
.cp-tab-box .nav-tabs>li.active>a,
.cp-tab-box.nav-tabs>li.active>a:hover,
.cp-tab-box .nav-tabs>li.active>a:focus,
.cp-tab-box .nav-tabs>li a:hover,
#widget-slider .owl-dots .owl-dot.active span,
.cp-pro-item .cart-listed li:hover a,
.cp-audio-item .audioplayer-bar-played,
.cp-audio-item .audioplayer-playpause:hover,
.cp-audio-item .audioplayer-playpause:focus,
.audioplayer-playing .audioplayer-playpause a::before,
.audioplayer-playing .audioplayer-playpause a::after,
.cp-booking-item .price,
.cp-nav-holder .navbar-nav li ul li:before {
    background-color: #faa933;
}
.cp-banner-content h2 span,
.btn-readmore,
.cp-services-box .btn-readmore .icomoon,
.btn-readmore:hover,
.cp-text p a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.cp-team-item .cp-text p,
.cp-signature,
.cp-pricing-box .price,
.cp-pricing-listed li span,
.cp-pricing-listed li a,
.cp-map-text h2 span,
.cp-gallery-box .cp-caption .meta-list li:hover a,
.cp-services-box:hover>.icomoon,
.about-sm-thumb .cp-caption .fa,
.cp-tabs-holder .nav-tabs>li.active>a,
.cp-tabs-holder .nav-tabs>li.active>a:hover,
.cp-tabs-holder .nav-tabs>li.active>a:focus,
.cp-tabs-holder .nav-tabs a:focus,
.cp-tabs-holder .nav-tabs a:hover,
.cp-pro-item h3:hover a,
.cp-award-listed .year,
.cp-facts-inner h3,
.cp_side-navigation p span,
.color,
.cp-event-box2 .date,
.cp-pagination-row .pagination>li:hover,
.cp-pagination-row .pagination>li:hover a,
.cp-pagination-row .pagination>li:hover span,
.cp-pagination-row .pagination>li.active a,
.widget-banner .cp-thumb .cp-caption span,
.audioplayer-playpause a,
.mp3-player-box .audioplayer,
.cp-course-box span:hover,
.cp-address-box p a,
.cp-rating .fa,
.cp-pager-outer .cp-caption .fa,
.cp-team-detail .cp-about-text .desination,
.cp-career-listed .cp-date-box .cp-top h3,
.cp-booking-table .date,
.tb-price-info span,
.cp-booking-tabs .nav-tabs .tabs-list strong,
.cp-pro-item:hover h3 a {
    color: #faa933;
}
{
    border-left-color: #faa933;
}
.cp-heading-style1_v1 h2:before,
.cp-heading-style1_v2 h2:before,
.cp-btn-style1,
.cp-btn-style2,
.cp-about-listed li:before,
.cp-about-outer:before,
.cp-services-listed:before,
.cp-date-holder,
.cp-team-img-outer:before,
.cp-pricing-box .cp-top:before,
.cp-map-text,
.footer-banner:before,
.cp-home-gallery-listed .item:before,
.about-sm-thumb .cp-caption,
.cp-facts-box:before,
.cp-facts-listed:before,
.cp-popup-holder form .subscribe:before,
#cp-calendar .fc-event,
.cp-blog-img-holder:after,
.cp-product-top-outer:before,
.cp-product-slider .cp-pager-outer .cp-caption,
.cp-pager-outer .cp-caption,
.cp-facts-listed,
.cp-event-box3:hover {
    border-color: #faa933;
}